<h1>Sections Demo</h1>

<h2>Hello World section</h2>
<%= section :hello_world %>

<h2>Hello Future section</h2>
<%= section :hello_future %>

<h2>Hello Client section</h2>
<%= section :hello_client %>

