<%# This file contains the HTML for the 'hello world' section. %>

<div class="hello_world">
  <h2>Hello World!</h2>
  This is content defined by the hello world section.<br>
  It is styled by CSS from the section. <br>
  <br>
  Click on this section.<br>
  The behavior comes from the section's JavaScript file.<br>
</div>
