-# This file contains the HTML for the 'hello future' section.

.hello_future
  %h2 Hello Future!
  %p This is content defined by the hello future section.
  %p It is styled by CSS from the section. 
  %p Click on this section.
  %p The behavior comes from the section's JavaScript file.<br>
